.first_div{
    /* background-color: rgb(20,14,56); */
    color: white;
    font-family: Comfortaa,Roboto,'Helvetica Neue',Arial,sans-serif;
    width: 100%;
    padding-top: 7rem;
    /* margin-top: 20px; */
}

.heading{
    padding-top: 4rem;
    padding-bottom: 9rem;
}

.three{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.btttn a{
    margin-right: 3rem;
    padding: .7rem 2rem .7rem 2rem;
    color: white !important;
}

@media screen and (max-width:480px) {
    

    .first_div{
        padding-bottom: 0rem;
        width: auto;
        text-align: center;
    }

    .heading h2{
        padding-top: -1rem;
        padding-bottom: 0rem;
        font-size: 1.6rem;
    }
    
    .three h5{
        padding-top: 0rem;
        padding-bottom: 0rem;
        font-size: 1.2rem;
    }

    .btttn a{
        margin-bottom: 2rem;
        margin-left: 2rem;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
}