.btn{
    background-image: linear-gradient(40deg, #BF68E6 20%, #9E48CD 51%, #BF68E6 90%);
    box-shadow: 0 0 12px 0 #9e48cd;
    border: none;
    transition: 0.5s;
}

.nav{
    background-color: rgb(25,64,137);
    width: 100%;
    color: white !important;
    position: fixed;
    z-index: 5;
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;
}

.nav_link{
    padding-left:16rem;
    color: white !important;
}

.hxn{
    margin-left: 1rem;
    color: #fff !important;
    padding-top: 0px !important;
}

.bn_hxn{
    margin-left: 1rem;
}

@media screen and (max-width:480px) {

    .nav img{
        padding-left: 0rem;
        width: 20%;
    }

    .nav_link{
        padding-left:1rem;
    }

    .nav{
        width: auto;
    }
}


@media (min-width:480px) and (max-width:768px) {

    .nav_link{
        /* text-align: center; */
        padding-left: 0;
    }
}


@media (min-width:768px) and (max-width:1100px) {
    

    .nav_link{
        padding-left:12rem;
        color: white !important;
        font-size: 13px;
    }
}

@media (min-width:1100px) and (max-width:1440px) {
    

    .nav_link{
        padding-left:20rem;
        color: white !important;
    }
}

@media (min-width:1440px) and (max-width:3000px) {
    

    .nav_link{
        padding-left:28rem;
        color: white !important;
    }
}